@font-face {
    font-family: 'KenVector Future';
    src: url('/assets/fonts/kenvector_future_thin.ttf') format('truetype');
    font-display: block;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0f0f0f;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
